<%

function leadingZero(s) {
    if (s < 10)
        return `0${s}`;
    return `${s}`;
}

function getDateLine(eventDate) {
    let month = eventDate.getMonth() + 1;
    let date = eventDate.getDate();
    let year = eventDate.getFullYear();
    
    return `${month}/${date}/${year}`;
}

function getTimeLine(eventDate) {
    let hours = eventDate.getHours();

    let ofDay = hours >= 12 ? 'PM' : 'AM';

    // validate hours (this is so stupid)
    if (hours > 12) {
        hours -= 12;
    } else if (hours == 0) {
        hours = 12;
    }

    let minutes = leadingZero(eventDate.getMinutes());
    

    return `${hours}:${minutes} ${ofDay}`;
}

%>


<table id="main">
    <tr>
        <td>

            <table class="content">

                <% let date = new Date(event.date); %>

                <tr>
                

                <td id="img">

                    <% if (event.url) { %>
                        <a target="_blank" id="#" href="<%= event.url %>">
                    <% } %>

                    <% if (event.poster) { %>
                        <img style="width: 90vw !important;" src="<%= event.poster %>" />
                    <% } else { %> 
                        <img style="width: 90vw !important;" src="/images/default-event-poster.png" />
                    <% } %>

                    <% if (event.url) { %>
                        </a>
                    <% } %>
                    
                </td>

            </tr>

                <tr>

                <td id="content-body">

                    <a id="a" style="font-size: 300%;" href="/mobile/events/<%= event.id %>"><h1><%= event.title %></h1></a>
                    
                    <p style="font-size: 150%;"><%= getDateLine(date) %> @ <%= getTimeLine(date) %></p>

                    <p>
                    <% if (event.url) { %>
                        <a style="color:inherit;" target="_blank" id="#" href="<%= event.url %>">Click to see more</a>
                        |
                    <% } %>
                        <a style="color:inherit;" href="/mobile/">Go back</a>
                    </p>

                </td>

                </tr>

                <tr class="spacer"></tr>

                <tr>
                    <td colspan="2" class="full-description">
                        <% if (event.description) { %>
                            <%- marked(event.description) %>
                        <% } %>
                    <td>
                </tr>

            </table>
        </td>
    </tr>
</table>