<head>
  <link rel='stylesheet' href='/stylesheets/admin/analytics.css' />
</head>
<div class="flex-centered">
  <div class="welcome glass">
    <h2>Hi, Ivan. Welcome to the Admin Dashboard.</h2>
  </div>

  <div class="analytics-container glass">

      <% for (let route of analytics) { %>
          
          <div 
              class="item glass"
              data-url-pk="<%= route.url %>"
              id="<%= route.url %>-analytic-data"
          >
              <h3 class="link"><a href="<%= route.url %>"><%= route.url %></a></h3>
              <h3 id="<%= route.url %>-num-views"><%= route.views %></h3>
              
                <button 
                  class="glass button" 
                  onclick="resetViews('<%= route.url %>')" 
                >
                  Reset
                </button>

                <button
                  id="<%= route.url %>-toggle-button" 
                  class="glass button" 
                  onclick="toggleTracking('<%= route.url %>')"
                >
                  <% if ( route.tracking ) { %> 
                    Stop Tracking
                  <% } else { %>
                    Start Tracking
                  <% } %>
                </button> 

          </div>

      <% } %>
  </div>
  <button class="glass button" style="margin-top: 20px;" onclick="updateInfo()">Update</button>
</div>