<head>
  <link rel='stylesheet' href='/stylesheets/admin/events.css' />
</head>

<!-- <br>
It is best to use the date feature on chrome because it handles calendar-like input.
<br><br>
It's probably best if you don't go crazy with the length of the event titles.
<br><br>
The events get a "shortened" description, which will display up to 200 characters. 

<br><br>
If you are using special characters (e.g. **bold**) keep in mind these will not be rendered in the
shortened display, so use them after 200 characters.  

<br><br> -->

<div class="glass events-container">
    <div class="glass date-info flex-centered">

      <h3>New Event</h3>
      <input class="form-input glass" id="add-title-e" placeholder="Title" value="" />
      <input type="datetime-local" class="form-input glass" id="add-date-e" placeholder="Date" value="" />
      
      <div>
        <label for="add-important-e">
          Important? :
        </label>
        <input type="checkbox" id="add-important-e" />
        <label for="add-hidden-e">
          Hidden :
        </label>
        <input type="checkbox" id="add-hidden-e"/>
      </div>

      <input type="text" class="form-input glass" id="add-url-e" placeholder="Redirect URL" value="" />
      <input type="text" class="form-input glass" id="add-poster-e" placeholder="Poster URL" value="" />
      <textarea style="height: 300px; width: 100%;" type="text" class="form-input glass" id="add-description-e" placeholder="Event Description"></textarea>


      <button class="glass button" onclick="addEvent()">Submit</button>

    </div>

    <!-- <div class="glass event-info flex-centered">

      <h3>Event Info</h3>
      <input type="text" class="form-input glass" id="add-url-e" placeholder="Redirect URL" value="" />
      <input type="text" class="form-input glass" id="add-poster-e" placeholder="Poster URL" value="" />
      <textarea style="height: 300px; width: 100%;" type="text" class="form-input glass" id="add-description-e" placeholder="Event Description"></textarea>

    </div> -->

    <div id="main-events" class="glass events-list">

      <% for (let event of events) { %>
        <div id="<%=event.id%>-thread-e" class="glass event"> 

          <% 
            function getDate(dateFromSql) {
              tmp = new Date(dateFromSql);
              tmp.setHours(tmp.getHours() - 4);
              tmp = tmp.toISOString();
              return tmp.substring(0, tmp.length - 1);
            }
          %>

          <h3 style="margin-top: 10px;"><%= event.title %></h3>
          <input type="text" placeholder="Title..." class="form-input glass" id="<%=event.id%>-title-e" value="<%= event.title %>" oninput="updatePreviewEvent('<%= event.id %>')" />
          <input type="datetime-local" class="form-input glass" id="<%=event.id%>-date-e" value="<%= getDate(event.date) %>" />
          <label for="<%= event.id %>-important-e">Important :</label>
          <input type="checkbox" id="<%= event.id %>-important-e"
            <% if (event.isImportant) { %>
              checked
            <% } %>
          />
          <label for="<%= event.id %>-hidden-e">Hidden :</label>
          <input type="checkbox" id="<%= event.id %>-hidden-e"
            <% if (event.isHidden) { %>
              checked
            <% } %>
          />
          <input type="text" class="form-input glass" placeholder="Special redirect..." id="<%=event.id%>-url-e" value="<%= event.url %>" />
          <input type="text" class="form-input glass" placeholder="Poster image..." id="<%=event.id%>-poster-e" value="<%= event.poster %>" />
          <textarea style="height: 150px;" type="text" class="form-input glass" id="<%=event.id%>-description-e""><%=event.description%></textarea>
          <button class="glass button" onclick="updateEvent('<%= event.id %>')">Update</button>
          <button class="glass button" onclick="removeEvent('<%= event.id %>')">Delete</button>
        </div>
      <% } %>
      
    </div>
</div>
