<head>
  <link rel="stylesheet" href="/stylesheets/admin/sheets.css" />
</head>

<div id="study-guides" class="glass sheets-container">

    <!-- form to add a study sheet -->
    <div id="add-study-guide" class="glass sheet-input">
      <h3>Add Study Sheet</h3>
      <input placeholder="Title..." type="text" class="form-input glass" id="add-sheet-title" />
      <input placeholder="Url..." type="text" class="form-input glass" id="add-sheet-url" />
      <input placeholder="Subject..." type="text" class="form-input glass" id="add-sheet-subject" />
      <input placeholder="Teacher..." type="text" class="form-input glass" id="add-sheet-teacher" />
      <input placeholder="Author..." type="text" class="form-input glass" id="add-sheet-author" />
      <button id="add-sheet-update" class="glass button" onclick="addSheet()">Submit</button>
      <span id="add-sheet-remove"></span>
    </div>

    <!-- study sheets -->

    <div class="glass study-sheets">
      <% for (let sheet of sheets) { %>
        <div id="<%= sheet.id %>-study-guide" class="glass sheet">
          <input placeholder="Title..." type="text" class="form-input glass" value="<%= sheet.title %>"
            id="<%= sheet.id %>-sheet-title" />
          <input placeholder="Url..." type="text" class="form-input glass" value="<%= sheet.url %>"
            id="<%= sheet.id %>-sheet-url" />
          <input placeholder="Subject..." type="text" class="form-input glass" value="<%= sheet.subject %>"
            id="<%= sheet.id %>-sheet-subject" />
          <input placeholder="Teacher..." type="text" class="form-input glass" value="<%= sheet.teacher %>"
            id="<%= sheet.id %>-sheet-teacher" />
          <input placeholder="Author..." type="text" class="form-input glass" value="<%= sheet.author %>"
            id="<%= sheet.id %>-sheet-author" />

          <button id="<%= sheet.id %>-sheet-update" class="glass button"
            onclick="updateSheet('<%= sheet.id %>')">Update</button>
          <button id="<%= sheet.id %>-sheet-remove" class="glass button"
            onclick="removeSheet('<%= sheet.id %>')">Remove</button>

          <% for (let keyword of sheet.keywords) { %>
            <td id="<%= keyword.id %>-keyword">
              <span id="<%= keyword.id %>-keyword-text"><%= keyword.keyword %></span>
              <button id="<%= keyword.id %>-keyword-remove" class="glass button"
                onclick="removeKeyword('<%= keyword.id %>')">Remove</button>
            </td>
          <% } %>
        </div>
      <% } %>
    </div>
</div>