<head>
  <link rel='stylesheet' href="/stylesheets/admin/links.css" />
</head>

<!-- <br>

Click a link to modify or delete it. Drag any link over the link you want it to swap places with. (Drag and drop reordering is a WIP)

<br>
<br> -->
<div class="glass links-container">
  <div id="links-table" class="glass link-form">
    <h3>Update Link</h3>
    <input type="text" class="form-input glass" id="link-alias-input" placeholder="Modify Alias" disabled=true />
    <input type="text" class="form-input glass" id="link-url-input" placeholder="Modify URL" disabled=true /> 
    <div>
    <button class="glass button" onclick="updateLink()">Update</button>
    <button class="glass button" onclick="removeLink()">Delete</button>
    </div>

    <h3 style="margin-top: 20px;">New Link</h3>
    <input type="text" class="form-input glass" id="link-alias-add" placeholder="New Link Alias" />
    <input type="text" class="form-input glass" id="link-url-add" placeholder="New Link URL" />
    <div>
      <button class="glass button" onclick="addLink()">Add</button>
      <button class="glass button" onclick="clearLink()">Clear</button>
    </div>
  </div>

  <div id="link-manager" class=" glass links-list">
    <% for (let link of links) { %>
      <div 
        data-link-id="<%= link.id %>" 
        id="link-<%= link.id %>" 
        class="link glass"

        data-alias="<%= link.alias %>"
        data-url="<%= link.url %>"

        style="margin: 20px;"
      >
        <%= link.alias %> (<span><%= link.url %></span>)
      </div>

    <% } %>
  </div>
</div>
