<br>
New links you add appear at the end, not in the order that they will appear on the website. Click 'Save Order' to fix this and to save the order of the links at any time.
<br>
<button class="btn btn-success" onclick="updateOrdering()">Save Order</button>

<table id="links-table" class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Alias</th>
            <th scope="col">Url</th>
            <th scope="col">Confirm</th>
            <th scope="col">Delete</th>
            <th scope="col">Reorder</th>
        </tr>
    </thead>
    <tbody id='main-links'>
        <% let order = 0 %>
        <% for (let link of links) { %>
            <tr id="<%=link.id%>-thread" data-link-id="<%= link.id %>" data-order="<%= order %>"> 

                <td><input type="text" class="form-control" id="<%=link.id%>-alias" value="<%= link.alias %>" /></td>
                <td><input type="text" class="form-control" id="<%=link.id%>-url" value="<%= link.url %>" /></td> 
                <td id="<%=link.id%>-update"><button class="btn btn-primary" onclick="updateLink('<%= link.id %>')">Update</button></td> 
                <td id="<%=link.id%>-remove"><button class="btn btn-danger" onclick="removeLink('<%= link.id %>')">&times;</button></td>
                <td id="<%=link.id%>-reorder">
                    <button class="btn btn-info" onclick="moveLink(-1, '<%= link.id %>')">&uarr;</button> 
                    <button class="btn btn-warning" onclick="moveLink(+1, '<%= link.id %>')">&darr;</button> 
                </td>
            </tr>
            <% order++; %>
        <% } %>
	</tbody>
	<tbody>
		<tr>
            
            <td><input type="text" class="form-control" id="add-alias" placeholder="New Link Alias" value="" /></td>
            <td><input type="text" class="form-control" id="add-url" placeholder="New Link Alias" value="" /></td> 
            <td id="add-update"><button class="btn btn-success" onclick="addLink()">Add</button></td> 
            <td id="add-remove"><span></span></td>
            <td id="add-reorder"><span></span></td>

		</tr>
    </tbody>
</table>