<%

const MAX_CHARACTERS = 240;
const SIDE_MAX_CHARACTERS = 100;
function leadingZero(s) {
    if (s < 10)
        return `0${s}`;
    return `${s}`;
}

function getShortenedDescription(str, length) {
    if (str.length == 0) {
        return 'empty description';
    }

    return str.substring(0, length) + ((str.length > length) ? '...' : '');
}

function getDateLine(eventDate) {
    let month = eventDate.getMonth() + 1;
    let date = eventDate.getDate();
    let year = eventDate.getFullYear();
    
    return `${month}/${date}/${year}`;
}

function getTimeLine(eventDate) {
    let hours = eventDate.getHours();

    let ofDay = hours >= 12 ? 'PM' : 'AM';

    // validate hours (this is so stupid)
    if (hours > 12) {
        hours -= 12;
    } else if (hours == 0) {
        hours = 12;
    }

    let minutes = leadingZero(eventDate.getMinutes());
    

    return `${hours}:${minutes} ${ofDay}`;
}
%>



<table id="main">
    <tr>
        <td class="event-list">

            <%
                function generateDatemap(events) {
                    let datemap = new Map();
                    
                    for (let event of events) {
                        let date = new Date(event.date);
                        let dateline = getDateLine(date);
        
                        let dates = datemap.get(dateline);
                        if (dates === undefined) {
                            datemap.set(dateline, [ event ]);
                        } else {
                            dates.push(event);
                        }
                    }

                    return datemap;
                }

            %>

            <% const datemap = generateDatemap(otherEvents) %>

            <ul>
                <li id="head">
                    <h1>Upcoming Dates</h1>
                </li>

                <% for (let dateEvent of datemap) { %>
                    <% let [ date, eventsOnDay ] = dateEvent; %>
                    <li>

                        <h1 id="date"><%= date %></h1>
                        </br>
                        
                        <% for (let event of eventsOnDay) { %>

                            <h1 class="important-title" id="title">
                                <a href="/events/<%= event.id %>"><%= event.title %></a>
                                <span class="important-title-time">&#8226 <%= getTimeLine(new Date(event.date)) %></span>
                            </h1>
                            <% if (event.description) { %>
                                <p>
                                    <%= getShortenedDescription(event.description, SIDE_MAX_CHARACTERS) %>
                                </p>
                            <% } %>
                        <% } %>

                    </li>
                <% } %>

            </ul>

            <!--
            <ul>
    
                <li id="head">
                    <h1>Important Dates</h1>
                </li>
                <li>
                    <h1 id="date">01/23/2021</h1>
                </br>
                    <h1 id="title">Escape Room Signups Live!</h1>
                    <p>
                        Keep your visitors in the know. Want to make this content your own? Just add your images, text and links, or connect to data from your collection.
                    </p>
                </li>
                <li>
                    <h1 id="date">02/00/2021</h1>
                </br>
                    <h1 id="title">Did You Know? You Can Customize This Content</h1>
                    <p>
                        Keep your visitors in the know. Want to make this content your own? Just add your images, text and links, or connect to data from your collection.
                    </p>
                </li>
            
            </ul>
            -->

        </td>

        <td valign="top">

            <table class="content">

                <% for (let event of events) { %>

                    <% let date = new Date(event.date); %>

                    <tr>
                    

                    <td id="img">

                        <% if (event.url) { %>
                            <a target="_blank" id="#" href="<%= event.url %>">
                        <% } %>

                        <% if (event.poster) { %>
                            <img src="<%= event.poster %>" />
                        <% } else { %> 
                            <img src="/images/default-event-poster.png" />
                        <% } %>

                        <% if (event.url) { %>
                            </a>
                        <% } %>
                        
                    </td>

                    <td id="content-body">

                        <a id="a" href="/events/<%= event.id %>"><h1><%= event.title %></h1></a>
                    
                        <% if (event.description) { %>
                            <p><%= getShortenedDescription(event.description, MAX_CHARACTERS) %></p>
                        <% } %>

                        <p class='dateline'>

                            <a><%= getDateLine(date) %> @ <%= getTimeLine(date) %></a>

                            | <a id="#" href="/events/<%= event.id %>">Click to read more</a>

                            <% if (event.url) { %>
                                | <a id="#" target="_blank" href="<%=event.url %>">Click to see more</a>
                            <% } %>
                        
                        </p>

                    </td>

                    </tr>

                    <tr class="spacer"></tr>

                <% } %>

            </table>

        </td>
    </tr>
</table>