<% for ( let guide of guides ) { %>
    <div class="study-guide col-sm-12">
        <a class="study-guide-title" href="<%= guide.url %>" target="_blank">
            <% if (guide.title) { %>
                <%= guide.title %>
            <% } else { %>
                <%= guide.url %>
            <% } %>        
        </a>
        <% if (guide.teacher) { %>
            <div class="study-guide-teacher"><%= guide.teacher %></div>
        <% } %>
        <% if (guide.subject) { %>
            <div class="study-guide-subject"><%= guide.subject %></div>
        <% } %>
        
        <div class="study-guide-keywords">
            <% for (let keyword of guide.keywords) { %>
                <div class="study-guide-keyword"><%= keyword.keyword %></div>   
            <% } %>
        </div>
    </div>
<% } %>