<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); %>

<body>

    <div class="container">
        <%- include('partials/menu') %>

        <% if (locals.isHomepage) { %> 

            <%- include('partials/banner'); %>

        <% } %>

        <% let className = (locals.isHomepage) ? 'body' : 'general-body'; %>
        <div class="<%= className %>">
            
            <% if (locals.page) { %>
                <%- include('pages/' + locals.page); %>
            <% } %>

        </div> 

    </div>

    <%- include('partials/footer'); %>
    <script type="text/javascript" src="/javascripts/darkmode.js"></script>

</body>
</html>